/* Add CSS Styling */
.odd {
    background-color: rgb(255, 0, 0,.4);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#second {
    color: rgb(0, 0, 255);
    font-size: 36px;
}
#third {
    font-size: 24px;
}
#four {
    background-color: rgba(0, 255, 0, 0.633);
    font-size: 24px;
    font-weight: 700;

}